{% extends 'base.html' %}
{% load static %}
{% block body %}
<style >
  body{
  background-image: url('https://images.squarespace-cdn.com/content/v1/569d4b5afb36b14cb9816729/1453169206422-NSC12UTKE3N9JX44J7Q3/ke17ZwdGBToddI8pDm48kNbtElRT21_JiTRyuwgy1vB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kMlYkjvFlctRdmAM11rxFQbDqQneBP5WJrgBA3-YG-FkoMahGbGTbFnRJQx6apT4g/Silver-Blur-Background-Wallpaper.jpg?format=1000w');
    background-size: 100% 100%;}
</style>
      <div class="container my-3">
          <h1 class="display-4"><p style="font-size:40px">Blog Post</p></h1>

        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}}<br><a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>


    </div>



    
    <footers>

    <a href="" class=" btn btn-primary m-2" >BACK</a>
    <a href="" class=" btn btn-primary m-2">NEXT </a>
    </footers>
 {% endblock body %}

